include util
_path = './'
!!! 5
html(lang="ja")
	head
		meta(name="viewport", content="target-densitydpi=device-dpi, width=320, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
		mixin headUtil('../', 'hello')
		link(href=stylesheet, type="text/css", rel="stylesheet")
		script(src="#{_path}js/lib/jquery-1.9.0.min.js")
		script(src=script)
	body
		#wrap
			header
				h1 html-package ver0.0.6
			#content
				p install node if your env doesn't have
				pre $ sh config/node.sh
				p install node modules
				pre $ sh config/install.sh
				p compile files
				pre $ grunt
				p auto compile files when the file has saved, and browser reloaded when file has saved
				pre $ grunt watch
				p run web server on webrick and you can see 'http://localhost:8080/dist/' on dist/index.html file
				pre $ ruby config/server.rb
				p test command if the sftp can be able to be connected the host server
				pre $ grunt sshexec
				p transport dist files to sftp server
				pre $ grunt sftp
			footer
				p version 0.0.6

//- END