//- https://twitter.com/about/resources/buttons#tweet
mixin tweet()
	a(href = "https://twitter.com/share", class="twitter-share-button", data-text="", data-hashtags="", data-lang="ja", data-url="") ツイートする
	script
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

//- https://developers.facebook.com/docs/reference/plugins/like/
mixin facebook()
	a
		div(class="fb-like", data-href="", data-send="false", data-layout="button_count", data-width="100", data-show-faces="false")
	div(id="fb-root")
	script
		(function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=373313202776033"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));

//- get code : https://sap.mixi.jp/check_developer.pl
mixin mixi()
	a(href = "http://mixi.jp/share.pl", class="mixi-check-button", data-key="KEY", data-button="button-6", data-show-count="true", onclick="_gaq.push(['_trackEvent', 'PCTOP_SNS', 'SNS', 'SNS_MX']);") mixiチェック
	script(src="http://static.mixi.jp/js/share.js")

//- get code : http://media.line.naver.jp/howto/ja/
mixin line()
	//-	a(href="")
			img(src="../img/linebutton.png",  alt="LINEで送る")
		script
			$(function(){$('.lineBtn').click(function(){_gaq.push(['_trackEvent', 'SPTOP_SNS', 'SNS', 'SNS_LINE']);})});
	script(src="http://media.line.naver.jp/js/line-button.js")
	script
		new jp.naver.line.media.LineButton({"pc":false,"lang":"ja","type":"a","text":"","withUrl":false});

//- END