@import lib 
@import reset

html
	border-top 5px solid #b58900
body 
	background #eee8d5
	font-family sans-serif
	#wrap
		font-family 'consolas'
		line-height 1.5em
		font-size 12px
		width 480px
		margin 0 auto
		background #fdf6e3
		header
			width 480px
			h1
				font-size 30px 
				padding 30px 0 20px 20px
				color #b58900
				font-family impact, sans-serif
		#content
			width 440px
			color #657b83
			padding 0 20px 40px 20px 
			margin 0 auto
			p 
				margin 0 0 10px 0
			pre
				background #eee8d5
				padding 10px
				margin 5px 0 15px 0
				border-radius 05px
		footer
			p
				text-align center
				color #657b83
				padding  0 0 30px 0
