@import lib 
@import reset

body 
	background #eee8d5
	font-size 1em
	#wrap
		width 48em
		margin 0 auto
		background #fdf6e3
		h1 
			padding 4em 0
			text-align center
			color #b58900
			font-size 3em
			font-family impact
