@import lib 
@import reset

html
	border-top 5px solid #b58900
body 
	background #eee8d5
	font-size 1em
	font-family sans-serif
	#wrap
		width 48em
		margin 0 auto
		background #fdf6e3
		h1 
			padding 3em 0 2em 1em
			color #b58900
			font-size 3em
			font-family impact, sans-serif
		#content
			color #657b83
			font-size 1.4em
			padding 0 2em 4em 2em 
			margin 0 auto
			h2 
				margin 1em 0
				font-size 2em
				font-family impact, sans-serif
			p 
				line-height 1.5em
			pre
				background #eee8d5
				padding 1em
				margin 0.5em 0 1.5em 0
				border-radius 0.5em
		footer
			p
				text-align center
				color #657b83
				padding  0 0 3em 0
				font-size 1.2em
