/*
 * @auther naoiwata
 * lib.css
*/

body 
	font-family arial, sans-serif

vendor(prop, value)
	-moz-{prop}    value
	-webkit-{prop} value
	-ms-{prop}     value
	-o-{prop}      value
	{prop}         value

posXY(x, y)
	position absolute
	top y
	left x

// END